.maingrid {
    position: absolute;
    display:block;
    top: 100px;
    left: 200px;
    width: 75%;
  }
  
.textgrid{
    position: absolute;
    display:block;
    top: 40px;
    left: 0px;
    width: 30%;
  }

.map{
    position: absolute;
    width: 65%;
    max-width: 567px;
    max-height: 500px;
    border: 3px solid black;
    box-shadow:  1.5px 1.5px grey;
    top: 100%;
    left: 30%;
  }
  

h2{
    text-align: center;
    font-family: Arial;
    font-size: 24px;
  }
  
hr{
    background-color: black;
    height:2px;
  }
  
p {
    font-family: 'Times New Roman';
    font-size: 20px;
  }

