img{
  position:absolute;
  z-index: -1;
  width: 70%;
  max-width: 853px;
  max-height: 650px;
  opacity: 0.3;
  top: 10%;
  left: 22%;
}

.hidden{
  margin-block-end: 0px;
  margin-block-start: 0px;
}

h1 {
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 40px;
    background-color:#adb9ca;
    padding: 15px;
    text-shadow: 1.5px 1.5px grey;
    margin: 0px;
  }

form {
    text-align: center;
  }

input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 20px;
  background-color: white;
}

input[type=text]{
  background: transparent;
}

input[type=reset]{
  width: 20%;
  border-radius: 5px;
}

input[type=submit]{
  border-radius: 5px;
}
