.maingrid {
    position: absolute;
    display:block;
    top: 100px;
    left: 200px;
    width: 75%;
  }

h2{
    text-align: center;
    font-family: Arial;
    font-size: 24px;
  }
  
hr{
    background-color: black;
    height:2px;
  }

p {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
  }

input{
    position: absolute;
    padding: 8px;
    margin: 2px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
    background-color: white;
  }

input[type=text]{
    background: transparent;
    width: 500px;
    left: 34%;
}
  
.date{
    top: 40%;
}

.time{
    top: 48%;
}

.report{
    width: 200px;
    left: 20%;
    top: 60%;
    border-radius: 5px;
}

.cancel{
    width: 200px;
    left: 69%;
    top: 60%;
    border-radius: 5px;
}